<lib-ng-document-reader>
  <app-document-content-component></app-document-content-component>
</lib-ng-document-reader>
<!-- <table>
  <thead>
    <tr>
      <td>no</td>
      <td>name</td>
      <td>email</td>
      <td>action</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>John Doe</td>
      <td>johndoeimail.com</td>

      <td>
        <button (click)="openModal()" class="cursor-pointer open-btn">
          modal
        </button>
      </td>
    </tr>
  </tbody>
</table> -->
