<div class="document-container">
  <div class="title" *ngIf="Data">
    <div class="title_row">
      <h2 class="title_head_text">Документ</h2>
      <h2 class="title_text">{{ Data.document }}</h2>
    </div>
    <div class="title_row">
      <h2 class="title_head_text">Номер</h2>
      <h2 class="title_text">{{ Data.documentNumber }}</h2>
    </div>
    <div class="title_row">
      <h2 class="title_head_text">Дата</h2>
      <h2 class="title_text">{{ Data.date }}</h2>
    </div>
  </div>
  <h2 class="table_name">Регистр бухгалтерии</h2>

  <table class="main-table" #mainTable>
    <!-- table header -->
    <tr class="header-row">
      <th rowspan="3" class="no-column border-bold-bottom">№</th>
      <th rowspan="3" class="account-column border-bold-bottom">Счет ДТ</th>
      <th rowspan="3" class="subaccount-column border-bold-bottom">
        Субконто ДТ
      </th>
      <th rowspan="3" class="account-column border-bold-bottom">Счет КТ</th>
      <th rowspan="3" class="subaccount-column border-bold-bottom">
        Субконто КТ
      </th>
      <th colspan="1" class="border-bottom border-left">Кол-во</th>
      <th colspan="2" class="border-bottom">Сумма в сум</th>
    </tr>
    <tr class="header-row">
      <th class="sub-header kol-val border-left">Валюта</th>
      <th class="sub-header summa-column">Курс</th>
      <th class="sub-header summa-column">Сумма в валюте</th>
    </tr>
    <tr class="header-row">
      <th colspan="3" class="sub-header com-column border-bold-bottom">
        Комментарий
      </th>
    </tr>

    <!-- table row -->
    <tbody *ngFor="let item of DataContent">
      <tr>
        <td rowspan="5">{{ item.rowIndex }}</td>
        <td rowspan="5">
          <textarea
            #cellTextarea
            class="cell-textarea center-align"
            [(ngModel)]="item.debitAccount.acount"
            (ngModelChange)="onContentChanged(); autoResizeTextareas()"
          ></textarea>
        </td>
        <td class="left-align">
          <textarea
            #cellTextarea
            class="cell-textarea subconto-cell"
            [(ngModel)]="item.debitAccount.subconto1.name"
            (ngModelChange)="onContentChanged(); autoResizeTextareas()"
          ></textarea>
        </td>
        <td rowspan="5">
          <textarea
            #cellTextarea
            class="cell-textarea center-align"
            [(ngModel)]="item.contorAccount.acount"
            (ngModelChange)="onContentChanged(); autoResizeTextareas()"
          ></textarea>
        </td>
        <td class="left-align">
          <textarea
            #cellTextarea
            class="cell-textarea subconto-cell"
            [(ngModel)]="item.contorAccount.subconto1.name"
            (ngModelChange)="onContentChanged(); autoResizeTextareas()"
          ></textarea>
        </td>
        <td rowspan="1">
          <textarea
            #cellTextarea
            class="cell-textarea quantity-cell"
            [(ngModel)]="item.quantity"
            (ngModelChange)="onContentChanged(); autoResizeTextareas()"
          ></textarea>
        </td>
        <td rowspan="1" colspan="2" class="right-align">
          <textarea
            #cellTextarea
            class="cell-textarea amount-cell right-align"
            [(ngModel)]="item.amount"
            (ngModelChange)="onContentChanged(); autoResizeTextareas()"
          ></textarea>
        </td>
      </tr>
      <tr>
        <td class="left-align">
          <textarea
            #cellTextarea
            class="cell-textarea subconto-cell"
            [(ngModel)]="item.debitAccount.subconto2.name"
            (ngModelChange)="onContentChanged(); autoResizeTextareas()"
          ></textarea>
        </td>
        <td class="left-align">
          <textarea
            #cellTextarea
            class="cell-textarea subconto-cell"
            [(ngModel)]="item.contorAccount.subconto2.name"
            (ngModelChange)="onContentChanged(); autoResizeTextareas()"
          ></textarea>
        </td>
        <td>
          <textarea
            #cellTextarea
            class="cell-textarea currency-cell"
            [(ngModel)]="item.currency"
            (ngModelChange)="onContentChanged(); autoResizeTextareas()"
          ></textarea>
        </td>
        <td>
          <textarea
            #cellTextarea
            class="cell-textarea course-cell"
            [(ngModel)]="item.course"
            (ngModelChange)="onContentChanged(); autoResizeTextareas()"
          ></textarea>
        </td>
        <td>
          <textarea
            #cellTextarea
            class="cell-textarea exchange-cell"
            [(ngModel)]="item.exchangeRate"
            (ngModelChange)="onContentChanged(); autoResizeTextareas()"
          ></textarea>
        </td>
      </tr>
      <tr>
        <td class="left-align">
          <textarea
            #cellTextarea
            class="cell-textarea subconto-cell"
            [(ngModel)]="item.debitAccount.subconto3.name"
            (ngModelChange)="onContentChanged(); autoResizeTextareas()"
          ></textarea>
        </td>
        <td class="left-align">
          <textarea
            #cellTextarea
            class="cell-textarea subconto-cell"
            [(ngModel)]="item.contorAccount.subconto3.name"
            (ngModelChange)="onContentChanged(); autoResizeTextareas()"
          ></textarea>
        </td>
        <td rowspan="3" colspan="3" class="center-align">
          <textarea
            #cellTextarea
            class="cell-textarea comment-cell"
            [(ngModel)]="item.comment"
            (ngModelChange)="onContentChanged(); autoResizeTextareas()"
          ></textarea>
        </td>
      </tr>
      <tr>
        <td class="left-align">
          <textarea
            #cellTextarea
            class="cell-textarea subconto-cell"
            [(ngModel)]="item.debitAccount.subconto4.name"
            (ngModelChange)="onContentChanged(); autoResizeTextareas()"
          ></textarea>
        </td>
        <td class="left-align">
          <textarea
            #cellTextarea
            class="cell-textarea subconto-cell"
            [(ngModel)]="item.contorAccount.subconto4.name"
            (ngModelChange)="onContentChanged(); autoResizeTextareas()"
          ></textarea>
        </td>
      </tr>
      <tr>
        <td class="left-align">
          <textarea
            #cellTextarea
            class="cell-textarea subconto-cell"
            [(ngModel)]="item.debitAccount.subconto5.name"
            (ngModelChange)="onContentChanged(); autoResizeTextareas()"
          ></textarea>
        </td>
        <td class="left-align">
          <textarea
            #cellTextarea
            class="cell-textarea subconto-cell"
            [(ngModel)]="item.contorAccount.subconto5.name"
            (ngModelChange)="onContentChanged(); autoResizeTextareas()"
          ></textarea>
        </td>
      </tr>
    </tbody>

    <!-- footer-row -->
    <tr class="footer-row">
      <td colspan="5" rowspan="2" style="text-align: right" class="border-3px">
        Итого:
      </td>
      <td class="border-3px"></td>
      <td colspan="2" class="border-3px right-align">31 806 393,60</td>
    </tr>
    <tr>
      <td class="border-3px"></td>
      <td class="border-3px"></td>
      <td class="border-3px"></td>
    </tr>
  </table>
</div>
